<nav>
  <div class="logo">
    <div class="logo-image">
      <img alt="Flame logo" src="../../assets/logo.png">
    </div>
    <div class="logo-text">
      <h1>
       Groupmania
      </h1>
      <h5>
        Reseau Social intranet
      </h5>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a>
          SIGN UP
        </a>
      </li>
      <li>
        <a>
          LOGIN
        </a>
      </li>
      <li>
        <a>
          LOGOUT
        </a>
      </li>
    </ul>
  </div>
</nav>
