<!-- <div class="post-card">
  <h2>Post title</h2>
  <p>created_datetime</p>
  <img src="imgUrl">
  <p>Content</p>
  <button>Click </button>
  <p>nbLike</p>
</div> -->
<div class="post-card" style="width: 25rem;">
  <img [src]="post.imgUrl" class="card-img-top" [alt]="post.title">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}
    </p>
    <p>{{post.dateCreate}}</p>
    <p>{{post.dislike}} </p>
    <button (click)="onViewPost()">VIEW</button>

  </div>
</div>
